* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 700px;
  height: auto;
  border-radius: 8px;
  border: 5px solid #000;
  transition: all 0.2s;
  box-shadow: -10px -10px 30px #fff, 10px 10px 30px rgba(29, 13, 202, 0.09);
  margin-bottom: 50px;
}

.breed-select {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cat-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.error {
  display: none;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ff3d00;
  background-color: #fff;
  border: 2px solid #ff3d00;
  border-radius: 4px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
.show {
  display: block;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9a9696;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}
